{% extends 'base.html.twig' %}
{% block title %}aPropos{% endblock %}

{% block body %}
<main>
    <div class="row my-5 border">
        <div class="col">
	        <h1>Voici notre équipe</h1>   
	        <h4>Après ce voyage en informatique depuis le 28 octobre 2019, voici en bref sur chacun des membres maintenant.</h4> 
        </div>
    </div>

    <div class="row row my-5 border">
        <div class="col">
        <img src="" alt="">
        <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">{# notre avatar #}
  <div class="card-body">
    <h5 class="">Marc</h5>
        <h5 class="">Développeur web</h5>
    <p class="card-text">en bref ce que l'on voudrait faire/spécialté, en partant d'ici</p>
    <a href="#" class="btn btn-primary">lien vers un truc à parler pendant la présentation</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="" class="card-img-top" alt="...">{# notre avatar #}
  <div class="card-body">
    <h5 class="card-title">Olivier</h5>
    <h5 class="">Développeur web</h5>
    <p class="card-text">en bref ce que l'on voudrait faire/spécialté, en partant d'ici</p>
    <a href="#" class="btn btn-primary">lien vers un truc à parler pendant la présentation</a>
</div>

<div class="card" style="width: 18rem;">
  <img src="" class="card-img-top" alt="...">{# notre avatar #}
  <div class="card-body">
    <h5 class="card-title">Matthieu</h5>
    <h5 class="">Développeur web</h5>
    <p class="card-text">en bref ce que l'on voudrait faire/spécialté, en partant d'ici</p>
    <a href="#" class="btn btn-primary">lien vers un truc à parler pendant la présentation</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="" class="card-img-top" alt="..."> {# notre avatar #}
  <div class="card-body">
    <h5 class="card-title">Alexandra</h5>
    <h5 class="">Web Designer/Web Mobile - Graphiste</h5>
    <p class="card-text">en bref ce que l'on voudrait faire/spécialté, en partant d'ici</p>
    <a href="#" class="btn btn-primary">lien vers un truc à parler pendant la présentation</a>
  </div>
</div>
        </div>
    </div>
    
</main>{%  endblock %}