{% extends 'base.html.twig' %}
{% block title %}aPropos{% endblock %}

{% block body %}
<main>
    <div class="row my-5 border">
        <div class="col">
	        <h1>{{ 'a_propos.titre' }}</h1> {# Voici notre équipe #}
	        <h3>{{ 'a_propos.soustitre' }}</h3> 
        </div>
    </div>

    <div class="row row my-5 border">
        <div class="col">
        </div>
    </div>
</main>