{% extends 'base.html.twig' %}

{% block title %}ANNONCES{% endblock %}

{% block body %}

	<div class="row">
		{% for annonce in annonces %}
			{% include 'blog/itemArticle.html.twig' with { article: article } %}
		{% endfor %}
	</div>

{% endblock %}