{% extends 'base.html.twig' %}
{% block title %}Bienvenue sur l'accueil-mainController

{% endblock %}

{% block body %}

<main>
    <div class="row my-5 border">
        <div class="col">
	        <h1>{{ 'accueil.titre' }}</h1>
	        <h3>{{ 'accueil.soustitre' }}</h3>
        </div>
    </div>
	
	<div class=" row my-5 border">
        <div class="col">
		
            {% if app.user and app.user.hasRole('ROLE_ADMIN') %}
			Vous êtes STAFF
		    {% elseif app.user and app.user.hasRole('ROLE_PUBLISHER') %}
			Vous êtes PUBLISHER
		    {% else %}
			Vous n'êtes pas connectés
		    {% endif %}

		    {% if is_granted('ROLE_ADMIN') %}
			Vous êtes ADMIN
		    {% endif %}
        </div>   
    </div>

        </div>

    <article class=" row my-5 border">
         <h2>Pourquoi et Comment ?</h2>
         <h3>Voici un site destiné aux artistes.  </h3>
            <p>Parfois on a tous besoin d'un coup  de main, de matos ou un peu d'exposition. Voici l'endroit pour vous ! <br> Que ce soit pour offrir vos services (car on sait tous que les artistes crèves de fin ) ou que vous soyez à la recherche d'aide pour votre business. </p>
    </article>

    	<div class="row">
            <div class="col">
                <h2 {{ displayOffres() }}>Liste des 5 dernières offres :</h2>	
            </div>

            <div class="col">
                <h2 class="text-warning">Bienvenue aux nouveaux !</h2>	
                <h3 {{displayProfiles () }}>Liste des 5 dernières inscriptions :</h3>
            </div>
        </div>
</main>
>
{% block body %}