{% extends 'base.html.twig' %}
{% block title %}Bienvenue sur l'accueil-mainController

{% endblock %}

{% block body %}

<main>
	<h1>{{ 'accueil.titre' }}</h1>
	<h3>{{ 'accueil.soustitre' }}</h3>
	
	<div class=" row my-5 border">
        <div class="col">
		
     {% if app.user and app.user.hasRole('ROLE_STAFF') %}
			Vous êtes STAFF
		{% elseif app.user and app.user.hasRole('ROLE_PUBLISHER') %}
			Vous êtes PUBLISHER
		{% else %}
			Vous n'êtes pas connectés
		{% endif %}

		{% if is_granted('ROLE_STAFF') %}
			Vous etes STAFF
		{% endif %}
        </div>
	
    <div class="col">
    </div>
    </div>
	<h2 {{ displayOffres() }}>Liste des 5 dernières offres :</h2>	
	<h2 {{ displayDemandes() }}>Liste des 5 dernières demandes :</h2>

</main>

<aside>
    
    <h1>Votre équipe de développeurs</h1>
    <img src="" alt="">
    <h3>Donnez-nous une bonne note pour notre projet !</h3>
    <p>Etudiant en centre de formation Web Force 3 Strasbourg</p>
    <a href="https://www.wf3.fr/centre/webforce-3-strasbourg">WF3</a>
    
</aside>
{% block body %}