{% extends 'base.html.twig' %}

{% block title %}Modifier son profil{% endblock %}

{% block body %}

    <div class="mb-3">
        <a href="{{ path('mon_compte', {id: app.user.id} ) }}" class="small"><i class="far fa-arrow-alt-circle-left"></i> Annuler la modification</a>
    </div>

    <div class="mt-4">
        {{ form(form) }}
    </div>


{% endblock %}