{% extends 'base.html.twig' %}
{% block title %}Error{% endblock %}
{% block body %}
    <div class="d-flex mx-auto row">
        <h1 class="d-flex mx-auto">{{status_code}}</h1>
        <p>{{status_text}}</p>
        <img src="https://i.ytimg.com/vi/IdK6_SAycS4/maxresdefault.jpg">
    </div>
{% endblock %}