<footer class="container border-top mt-5">
    <div class="row">
        <!-- Liste des articles parut récemment-->
        <div class="col-md-8">
            <p>À propos</p>

            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="#">L'équipe</a>
                <a class="list-group-item list-group-item-action" href="#">Recrutement</a>
                <a class="list-group-item list-group-item-action" href="#">RGPD</a>
                <a class="list-group-item list-group-item-action" href="#">Mentions-légales</a>
                <a class="list-group-item list-group-item-action" href="#">Nous contacter <i class="far fa-paper-plane"></i></a>
            </div>
        </div>
        <div class="col-md-2">
                    <p>Catégories <i class="fas fa-archive"></i></p>

                    <div class="list-group text-white">
                        <a class="badge badge-primary mb-1">Musique <i class="fas fa-compact-disc"></i></a>
                        <a class="badge badge-primary mb-1">Danse</a>
                        <a class="badge badge-primary">Danse</a>
                    </div>
        </div>
        <div class="col-md-2">
                    <p>Réseaux sociaux</p>

                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" href="https://www.facebook.com"><i class="fab fa-facebook"></i> Facebook</a>
                        <a class="list-group-item list-group-item-action" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i> Linkedin</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>