<footer class="container border-top mt-5">
    <div class="row">
        <!-- Liste des articles parut récemment-->
        <div class="col-md-6">
            <p>Á propos</p>

            <ul class="list-group">
                <li class="list-group-item">L'équipe</li>
                <li class="list-group-item">Recrutement</li>
                <li class="list-group-item">RGPD</li>
                <li class="list-group-item">Mentions-légales</li>
                <li class="list-group-item">Nous contacter</li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <p>Sur les réseaux sociaux</p>

                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" href="https://www.facebook.com"><i class="fab fa-facebook"></i> Facebook</a>
                        <a class="list-group-item list-group-item-action" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i> Linkedin</a>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <p>Catégories</p>

                    <div class="list-group">
                        <a class="badge badge-primary mb-1" href="https://www.facebook.com">Musique</a>
                        <a class="badge badge-primary mb-1" href="https://www.linkedin.com/">Danse</a>
                        <a class="badge badge-primary" href="https://www.linkedin.com/">Danse</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>