<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fas fa-home"></i> Annonces <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-home"></i> Les profiles <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <a class="navbar-brand  justify-content-between" href="#">Logo</a>


            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">

                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-users"></i> Espace utilisateur <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Se connecter <i class="fas fa-sign-in-alt"></i></a>
                        <a class="dropdown-item" href="#">S'inscrire <i class="fas fa-user-plus"></i></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Mon compte <i class="fas fa-user"></i></a>
                        <a class="dropdown-item" href="#">Se déconnecter <i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>