{% extends 'base.html.twig' %}

{% block title %}Mot de passe oubliée{% endblock %}

{% block body %}

<div>
    <div>
        <h1 class="text-center">Mot de passe oublié</h1>
    </div>
    
    {% if not app.request.query.get('send') == 'ok' %}
    <form method="POST">
        <div class="form-group">
            <label for="email">Ton adresse mail</label>
            <input type="email" name="email" class="form-control">
            <button type="submit" class="btn btn-primary d-flex ml-auto">Valider</button>
        </div>
    </form>
    {% endif %}
</div>


{% endblock %}
