{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="my-4">Modifier le mdp</h1>

    {{ form_start(form) }}
        <div class="row">
                <div class="col-6">
                    {{ form_row(form.password.first) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.password.second) }}
                </div>
            </div>   
        <button class="btn btn-primary d-flex ml-auto">Register</button>
    {{ form_end(form) }}
{% endblock %}
