{% extends 'base.html.twig' %}
{% block title %}a_Propos
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
        <h1 class="text-center text-warning"> 
            Artsjobs a été créé dans le but de permettre aux artistes contemporains de présenter ou vendre leur travail eux même, de manière simple et intuitive</h1>
             <div style="text-align: center"><img class=""src="/images/artiste_studio.png"></div>
        <h4>La galerie propose aux acheteurs et collectionneurs une mise en relation directe: un accès privilégié aux artistes du monde entier, sans intermédiaire, avec des prix direct atelier.</h4>
</div>
        <div>
            <div class="col-sm-6">

                <fieldset class="">
                    <legend>Contacts presse</legend>
                    <p class=" lead">
                        Agence Arts Jobs<br>
                        nom du propriétaire<br>-
                        propri@artsjobs.fr<br>
                        Tel : +33(0)7 67 67 67 67<br>
                    </p>
                </fieldset>
            </div>
            </div>
            <fieldset class="">
                    <legend> Publicité</legend>


                    <p class=" lead">
                        Vous ciblez le marché de l'art? Faites la promotion de votre travail ou de services à 1,000,000 visiteurs uniques chaque mois!

                    </p>

            </fieldset>
</div>
        </fieldset>

            <legend>L'entreprise</legend>

            <div class="row">
                <div class="col-xs-8   col-sm-9">

                    <p class="lead">
                        Le site Web est détenu et exploité par Artjobs, une société enregistrée à Montpellier, FRANCE sous le numéro de société 51331811300018. Notre numéro de TVA est le FR 05 513318113.<br>
                        <a href="{{ path('mentions_legales') }}" class="btn btn-primary"><span class="fa fa-chevron-right"></span> Informations légales</a>
                    </p>

                    <p class="lead">
                        Toutes les infrastructures et serveurs de Artsjobs.fr sont hébergées à <strong>Strasbourg, France</strong>.
                    </p>
                        Artsjobs is a proud member of la <a href="http://www.artsjobs.fr">#FRENCHTECH</a> !
                    </p>
                </div>
               
    </div> <div class="col-12 " >
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2640.774484539029!2d7.
                    748849456603534!3d48.556713490161144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!
                    2sfr!4v1581680888987!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" 
                    allowfullscreen=""></iframe>  
            </div>
        </fieldset>
<div class="row">
    <div class="col-12">
         <h2>Un grand merci à nos membres top contributeurs, allez voir leur travail </h2>
    <div class="col-12">
    </div>
    </div>
</div>
           
        </div>
    </div>
    </div>

    {% endblock %}