{% extends 'base.html.twig' %}
{% block title %}Mensions_legales
{% endblock %}
{% block body %}

<h1>Informations légales</h1>
<p>Le site Web est détenu et exploité par Artmajeur, une société enregistrée à Strasbourg, FRANCE sous le numéro de société 51331811300018. Notre numéro de TVA est le FR 05 513318113. Société créée en 2009. Capital 80 000€.</p>

<h2>GDPR Compliance</h2>
<p class="mb-4">General Data Protection Regulation - https://www.eugdpr.org</p>
<h3>Directeur de publication : SAMUEL QUELQUN</h3>
<p>Adresse du siège social : <br>
6 plan chabrol <br>
34830 CLAPIERS <br>
FRANCE <br>
SIRET : 51331811300018 <br>
513 318 113 R.C.S. STRASBOURG
</p>

<p>Nom et adresse de l'hébergeur : <br>
OVH SAS au capital de 10 069 020 € <br>
RCS Lille Métropole 424 761 419 00045 <br>
Siège social : 2 rue Kellermann <br>
59100 ROUBAIX - FRANCE <br>
Sécurisation des données <br>
Les données sont hébergées par les hébergeurs suivants : <br>
</p>

<p>OVH ( https://www.ovh.com/fr/protection-donnees-personnelles/gdpr.xml ) <br>
Toutes les communications entre votre navigateur et nos serveurs utilisent le protocole HTTPS qui crypte les données avant qu’elles ne transitent sur le réseau. Par ailleurs, les mots de passe ne sont pas stockés en clair dans notre base de données mais sont cryptés en utilisant les dernières technologies de sécurisation des mots de passe. Enfin, les communications entre nos différents serveurs se font sur un réseau privé qui n’est pas accessible depuis l’extérieur. <br>
</p>

<h2>Publicité</h2>
<p>D'autres tiers peuvent également intervenir sur la plateforme de la manière suivante :</p>
<br>
<p>Boutons de partage (Facebook, Twitter, instagram etc...) sur la plupart des pages, qui, lorsque vous êtes connecté(e) sur ces plateformes et surfez sur Artmajeur, vont stocker des informations personnelles selon leurs propres règles.
Google Analytics, pour mieux connaître notre audience, les informations sont toutefois anonymes (IP anonymisées).
Comme pour la plupart des communautés en ligne, nos modérateurs ont un accès restreint aux données des membres, notamment l’adresse email du compte, la date et l’heure des dernières connexions au site avec adresse IP, l’historique des contenus modérés ou supprimés et historique de modération. Les modérateurs n’ont pas accès à la messagerie privée.</p>
<h2>Profil membre</h2>
<p>La fiche membre contient les informations que vous avez vous-mêmes remplies à l’inscription / à l’édition et notamment les informations suivantes :

Adresse e-mail
Pseudo et mot de passe personnels
Code postal/ville/pays
Tous les autres champs du profil sont optionnels et sont accessibles directement sur votre profil membre lorsque vous l’éditez.
D’autres éléments peuvent également être reliés à votre profil membre :

Tous les contenus que vous avez créé avec le profil, (oeuvres, blogs, articles, annonces etc...), les contributions (commentaires, collections de favoris, messages sur les forums etc...). La plupart des contenus liés sont également directement visibles sur votre profil
Vos votes sur les contenus (sondages dans les forums, +1/-1 sur les messages de forums ou les avis utilisateurs)
Des données facilitant votre utilisation du site (inscription newsletter, mailing-forums, notifications, derniers messages lus dans les forums, etc.)
Vos échanges avec d’autres membres en utilisant notre messagerie interne
Vos contacts avec notre hotline (échanges de messages avec le support)
Votre “taux de confiance” qui est un vote des autres membres lorsque vous faites des transactions, ou que vous recevez un témoignage sur votre livre d'or Nous gardons en outre des données de consultation des e-mails envoyés par notre plateforme (newsletter et autres e-mails). L’objectif est avant tout statistique (connaître le taux d’ouverture d’une newsletter par exemple), cependant pour des raisons d’intégrité des données, nous conservons les données brutes, c’est à dire qui a ouvert quel e-mail à quelle heure, et quels liens ont été cliqués.
Afin de garder l’harmonie au sein de la communauté, l’équipe de Artmajeur y compris les modérateurs ont accès à des outils de modération qui permettent d’identifier les membres bannis qui tenteraient de revenir, en particulier la dernière utilisation de chaque IP et cookie, ainsi qu’un historique de modération.</p>







{% endblock %}