{% extends 'base.html.twig' %}
{% block title %}nous_contacter
{% endblock %}
{% block body %}

	<div class="row">
		<div class="col">
			<h1>
				Artsjobs Recrute
			</h1>
			<h2 class="pb-3">Prêts à révolutioner le monde l'art avec nous ?</h2>
		</div>
        <div><img class="" src="/images/artsjobs_recrute.png"></div>
      

		<div class="col mt-2">
            <h3>Artsjobs.fr recrute un Développeur Symfony</h3>
            <p>Nous recherchons actuellement un profil plustôt Backend Symfony 4 / php 7.2, les compétences frontend/full stack type JS/CSS sont un plus.
			</p><br>
			<p>Vous serez en relation avec le directeur technique et le lead développeur, pour collaborer au développement, évolutions, et orientations technologiques de la plateforme Artmajeur au service des artistes et galeries d'art du monde entier.</p> 
			
		</div>

		<div itemscope="" itemtype="http://schema.org/JobPosting">
			<meta itemprop="specialCommitments" content="VeteranCommit">
			<h2 itemprop="title" class="breatheTop">
				<span class="label label-primary">
					<span class="fa fa-code"></span>
				</span>
				Développeur PHP Symfony Sénior (CDI)</h2>
			<span>
				<p>
					<strong>Localisation:</strong>
					<span itemprop="jobLocation" itemscope="" itemtype="http://schema.org/Place">
						<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
							<span itemprop="addressLocality">Montpellier</span>,
							<span itemprop="addressCountry">France</span>
						</span>
					</span>
				</p>
			</span>
			<p class="hide">
				<strong>Secteur:</strong>
				<span itemprop="industry">Art Marketplace</span>
				<br><strong>Occupational Category:</strong>
				<span itemprop="occupationalCategory">15-1132.00 Software Developers, Application</span>
				<br><strong>Hours:</strong>
				<span itemprop="employmentType">Plein-temps</span>,
				<span itemprop="workHours">35 heures par semaine</span>
				<br><strong>Salaire:</strong>
				<span itemprop="salaryCurrency">EUR</span>
				<span itemprop="baseSalary">38000</span>
			</p>
			<p itemprop="description" class="lead">
				<span itemprop="hiringOrganization" itemscope="" itemtype="http://schema.org/Organization">
					<span itemprop="name">Artmajeur.com</span>
					recrute un Développeur Symfony</span>
				Nous recherchons actuellement un profil plustôt Backend Symfony 4 / php 7.2, les compétences frontend/full stack type JS/CSS sont un plus.
				<br>Vous serez en relation avec le directeur technique et le lead développeur, pour collaborer au développement, évolutions, et orientations technologiques de la plateforme Artmajeur au service des artistes et galeries d'art du monde entier.


			</p>
			<p>
				<strong>Domaines d'intervention:</strong>
			</p>
			<ul itemprop="responsibilities" class="">
				<li>Développement de modules de la plateforme (recherche multicritère, paiements, reconnaissance d'images, machine learning / IA, API réseaux sociaux etc...)</li>
				<li>Développement d'un moteur de création de site (Site Builder) pour le marché de l'art</li>
				<li>Intégration / synchronisation avec les galeries/oeuvres d'art des artistes sur Artmajeur.com</li>
				<li>Vous participerez aux choix &amp; orientations technologiques</li>
				<li>Vous influerez sur la sélection des prestataires/fournisseurs externes (CDN, hosting, librairies, services en saas)</li>
			</ul>
			<p class=" ">
				<strong>Diplômes requis :</strong>
			</p>
			<ul itemprop="educationRequirements" class="">
				<li>Bac+2 minimum</li>
			</ul>
			<p class=" ">
				<strong>Expérience requise:</strong>
			</p>
			<ul itemprop="experienceRequirements" class="">
				<li>3 ans minimum de symfony, ou bon niveau</li>
			</ul>
			<p>
				<strong>
					Compétences souhaitées:</strong>
			</p>
			<ul itemprop="skills" class="">
				<li>Symfony 4 (bon niveau requis)</li>
				<li>PHP 7</li>
				<li>Elasticsearch</li>
				<li>MongoDB</li>
				<li>MySQL</li>
				<li>HTML5/CSS3/JS</li>
				<li>Culture générale sur les techno récentes</li>
			</ul>
			<p>
				<strong>Qualités requises:</strong>
			</p>
			<ol itemprop="qualifications" class="">
				<li>Capacité à travailler en équipe / collaborer / communiquer</li>
				<li>Passionné de code</li>
				<li>Capacité à travailler de manière indépendante</li>
				<li>Prise de décision, initiative</li>
			</ol>
			<p>
				<strong>Salaire (selon expérience):</strong>
			</p>
			<ul class="">
				<li>38K€</li>
			</ul>
			<p>
				<strong>Avantages:</strong>
			</p>
			<ul class="">
				<li>
					<span itemprop="incentiveCompensation">Plan d'intéressement des salariés</span>
				</li>
			</ul>

			<p class="breatheTop">Si vous êtes intéressé(e) par cette offre, envoyez nous votre CV à support<span class="fa fa-at"></span>artmajeur.com</p>
			<p class="hide">Date Posted:
				<span itemprop="datePosted">2019-05-12</span>
			</p>
		</div>
	</div>

	<p></p>


{% endblock %}
