#Profiles:nth-of-type(2){
    background-color: #ff5733;
}

/* ------------PAGE MON COMPTE------------- */

#img_portfolio{
    opacity:1;
}

#img_porfolio:hover{
    opacity:0.5;
}

#titre{
    color:purple;
}